<html>

<head>
  <link rel="stylesheet" href="charts.component.css">
</head>


<div>

  <iframe name="doughnut"
    style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
    width="550" height="500"
    src="https://charts.mongodb.com/charts-project-0-ujjgd/embed/charts?id=71cd4020-5258-4b8a-8e24-875ec7afab78&theme=light"></iframe>
  <iframe name="timeline"
    style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
    width="550" height="500"
    src="https://charts.mongodb.com/charts-project-0-ujjgd/embed/charts?id=9a5c2d7e-44ad-4ef2-8cf6-0f3315bef079&autoRefresh=10&theme=light">
  </iframe>
  <button class="button"
    onclick="var ifr=document.getElementsByName('doughnut')[0]; ifr.src=ifr.src;var ifr=document.getElementsByName('timeline')[0]; ifr.src=ifr.src;">Refresh
    Charts</button>
</div>



</html>